<div class="panel panel-default shortPanel">
    <form class="m-t-10" method="post" action="/saveChanges">
        <p class="">
            <label>Technology :</label>
            <input type="text" class="form-control" name="techname" readonly value="{{techRec.tech}}" />
        </p>
        <p class="">
            <label>Description:</label>
            <input type="text" required class="form-control" name="techdescr" value="{{techRec.description}}" />
        </p>
        <br/>
        <p class="text-center">
            <button type="submit" class="btn btn-success">Post Changes</button>
        </p>
    </form>
</div>