<div class="panel panel-default shortPanel">
    <h1 align="left" class="">Login</h1>
    <form class="" method="post" action="/auth">
        <p class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" required class="form-control" name="nm" placeholder="Login Name" />
        </p>
        <p class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" required class="form-control" name="pwd" placeholder="Password" />
        </p>
        <br/>
        <p class="text-center">
            <button type="submit" class="btn btn-success">Get In</button>
        </p>
    </form>
</div>